# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
docker-compose.override.yml

# Pliki tymczasowe i cache Godota
.godot/
*.uid

# Logi i pliki eksportu
*.log
export_presets.cfg

# Jeśli kolega ma swoje pliki środowiskowe w backendzie
backend/.env
backend/node_modules/
.godot/editor/script_editor_cache.cfg
